@{
   
        Layout = "_Layout";
}
@{
    
}
<html>
    <head>
        <title></title>
        </head>
    <body>
    <form method="post" asp-controller="Create" asp-action="Addleme">
        <div class="form-group">
            <label for="Baslik">Başlık Giriniz</label>
            <input type="text" name="Baslik" class="form-control" placeholder="Kod yazılacak">
        </div>
      
        <div class="form-group">
            <label for="olusturulma"></label>
            <input type="text" name="olusturulma" value="@DateTime.Now" style="Display:none">
        </div>
        <div class="form-group">
            <label for="yazigirin">Yazı Giriniz</label>
            <textarea class="form-control" name="yazigirin" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    </body>
</html>